@font-face {
    font-family: 'Mint Grotesk Trial'; /* Give your font a name */
    src: url('./MintGroteskTrial.otf') format('opentype'); 
    font-weight: bold; /* Use 'normal' or 'bold' based on the font weight */
    font-style: normal; /* Use 'normal', 'italic', or 'oblique' */
  }